{
    "info": {
        "version": "2019-07-25 16:57:42",
        "description": "\u8d44\u8baf\u4fe1\u606f\u67e5\u8be2\u63a5\u53e3\n\n* \u9ed8\u8ba4\u57df\u540d\uff1a\nservice-nl4at3t9-1259459016.ap-shanghai.apigateway.myqcloud.com/release\n* \u81ea\u5b9a\u4e49\u57df\u540d\uff1a\ndata.service.news.smoothnlp.com/release\n",
        "title": "News"
    },
    "paths": {
        "/company_news": {
            "get": {
                "responses": {
                    "default": {
                        "description": "\u54cd\u5e94\u793a\u4f8b",
                        "examples": {
                            "\u5931\u8d25\u54cd\u5e94\u793a\u4f8b": "",
                            "\u6210\u529f\u54cd\u5e94\u793a\u4f8b": ""
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string",
                            "example": "Success"
                        }
                    },
                    "1": {
                        "description": "msg:   desc:",
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "description": "",
                "parameters": [
                    {
                        "description": "\u516c\u53f8\u7b80\u79f0",
                        "default": "\u817e\u8baf",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "name": "company_kw"
                    },
                    {
                        "description": "\u7ed3\u675f\u65e5\u671f",
                        "default": "2020-12-30",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "name": "end_date"
                    },
                    {
                        "description": "\u6bcf\u9875\u6761\u6570",
                        "default": "10",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "name": "limit"
                    },
                    {
                        "description": "\u7b2c\u51e0\u9875",
                        "default": "0",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "name": "offset"
                    },
                    {
                        "description": "\u5f00\u59cb\u65e5\u671f",
                        "default": "2019-06-01",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "name": "start_date"
                    }
                ],
                "tags": [
                    "News"
                ],
                "produces": [
                    "JSON"
                ],
                "summary": "\u6309\u4f01\u4e1a\u540d\u79f0\u6a21\u7cca\u67e5\u8be2",
                "consumes": [
                    "application/json"
                ],
                "operationId": "get_company_news"
            }
        }
    },
    "schemes": [
        "http",
        "https"
    ],
    "tags": [
        {
            "name": "News",
            "description": "\u8d44\u8baf\u4fe1\u606f\u67e5\u8be2\u63a5\u53e3"
        }
    ],
    "basePath": "/release",
    "host": "service-nl4at3t9-1259459016.ap-shanghai.apigateway.myqcloud.com",
    "swagger": "2.0"
}